<h1>This is the new page for Groups</h1>

<%= error_messages_for(@group) %>   

<%= form_for @group do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit 'Create' %>

<% end %>