<!DOCTYPE html>
<html>
<head>
  <title>ClusterDuck</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
    <a href="/" class="brand">Cluster Duck</a>
    <ul class="nav">
      <li><a href="/statuses">Statuses</a></li>
      <li><%= link_to 'Groups', groups_path %></li>
      <li><%#= link_to 'Account', user_path(user_session) %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :class => 'sign-out-btn' %></li>
    </ul>
    </div>
  </div>
<div class=container>
  <div class="row-fluid">
  <%= yield %>
  </div>
</div>
</body>
</html>
